body {
    font-family: 'Roboto';
    background-color: #ffffff;
    color: #333;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100dvh;
}

html {
    scroll-behavior: smooth;
}

header {
    color: white;
    padding: 1em;
    height: 70dvh;
    text-align: center;
    background-image: url("/assets/img/headphones_background.jpg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
}

header img {
    height: 20dvh;
    margin: 10em 0em 0em;
    opacity: 0.5;
}

header img:hover {
    opacity: 1;
}

header a {
    text-decoration: none;
    color: white;
    font-size: 2em;
}

header a:hover {
    cursor: pointer;
    font-size: 2.5em;
    transition: font-size 0.5s;
}

.home a {
    color: #ffffff;
    text-decoration: none;
}

main {
    display: flex;
    min-height: 100dvh;
    justify-content: center;
}

.headphone-img {
    display: flex;
    width: 50dvh;
    position: absolute;
    transition: opacity 0.5s;
}

#black-headphones {
    opacity: 1;
    z-index: 1;
}

#midnight-blue-headphones {
    opacity: 0;
    z-index: 1;
}

#cream-headphones {
    opacity: 0;
    z-index: 1;
}

.headphones {
    margin: auto;
    background-color: #f9f9f9;
    width: 100%;
    text-align: center;
}

.headphones a {
    cursor: pointer;
    margin: 5dvh;
    padding: 2em;
    display: inline-block;
    background-color: #f9f9f9;
    border: 1px solid #ccc;
    transition: background-color 0.5s;
}

#black {
    background-color: rgb(29, 29, 29);
}

#midnight-blue {
    background-color: rgb(65, 122, 168);
}

#cream {
    background-color: rgb(255, 246, 228);
}

#black:target ~ .headphone-img {
    opacity: 0;
}

#black-headphones:target {
    opacity: 1;
}

#midnight-blue:target ~ .headphone-img {
    opacity: 0;
}

#midnight-blue-headphones:target {
    opacity: 1;
}

#cream:target ~ .headphone-img {
    opacity: 0;
}

#cream-headphones:target {
    opacity: 1;
}

.feature {
    display: flex;
    background-color: #f9f9f9;
}

.feature .feature-left {
    margin: 5dvh;
}

.feature .feature-right {
    margin: 5dvh;
}

footer {
    background-color: #333;
    color: white;
    padding: 2em;
}

.columns {
    display: flex;
    justify-content: center;
}

.location {
    width: 20dvh;
    padding: 1dvh;
    margin-bottom: 3dvh;
    background-color: rgb(56, 56, 56);
    border-style: solid;
    border-color: rgb(80, 80, 80);
    font-size: 0.8em;
}
.location p {
    display: inline-block;
}

.location p:hover {
    opacity: 0.5;
}

.search {
    float: right;
    margin: 0.5em;
    padding: 0.6em 2.5em;
    background-color: rgb(36, 146, 209);
    font-size: 0.8em;
    color: rgb(255, 255, 255);
    border-style: solid;
    border-width: 0.1em;
    border-color: rgb(255, 255, 255);
    border-radius: 0.3em;
}

.search:hover {
    cursor: pointer;
    background-color: rgb(32, 129, 185);
}

.column {
    margin: 2dvh 10dvh;
}

.column h4 {
    margin: 5dvh 1dvh;
}

.column a{
    cursor: pointer;
    display: block;
    margin: 1dvh
}

.column a:hover {
    text-decoration: underline;
    color: gray;
    transition: color 0.3s;
}

.row {
    display: flex;
    justify-content: end;
}

.row a{
    cursor: pointer;
    margin: 2em;
}

.row a:hover {
    text-decoration: underline;
    color: gray;
    transition: color 0.3s;
}

